*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-grey: #0a0a23;
  --light-grey: #f5f6f7;
  --white: #ffffff;
  --black: #000;
}

body {
  background-color: var(--dark-grey);
  text-align: center;
  padding: 10px;
}

.title,
.options-label,
.team-stats,
footer {
  color: var(--white);
}

.title {
  margin: 1.3rem 0;
}

.team-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.3rem;
  margin: 1.2rem 0;
}

.options-label {
  font-size: 1.2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.champion-card {
  background-color: var(--light-grey);
  padding: 1.3rem;
  margin: 1.2rem;
  width: 300px;
  border-radius: 15px;
  color: #f5f6f7;
  background-size: cover;
  text-shadow: 4px 4px 8px #000; /* Dodaje crnu senku */
}


#jax {
    background-image: url(img/jax.jpg);
  }
  
  #kalista {
    background-image: url(img/kalista.jpg);
  }
  
  #missfortune {
    background-image: url(img/missfortune.jpg);
  }
  
  #kayne {
    background-image: url(img/kayne.jpg);
  }
  
  #blitz {
    background-image: url(img/blitz.JPG);
  }
  
  #zed {
    background-image: url(img/zed.jpg);
  }
  
  #tresh {
    background-image: url(img/thresh.jpg);
  }
  
  #darius {
    background-image: url(img/darius.jpg);
  }
  
  #ezreal {
    background-image: url(img/ezreal.jpg);
  }
  
  #akali {
    background-image: url(img/akali.jpg);
  }
  
  #leesin {
    background-image: url(img/leesin.jpg);
  }
  
  #jinx {
    background-image: url(img/jinx.jpg);
  }
  
  #lucian {
    background-image: url(img/lucian.JPG);
  }
  
  #vayne {
    background-image: url(img/vayne.jpg);
  }
  
  #malzahar {
    background-image: url(img/malzahaar.JPG);
  }
  
  #irelia {
    background-image: url(img/irelia.jpg);
  }
  
  #garen {
    background-image: url(img/garen.jpg);
  }
  
  #nami {
    background-image: url(img/nami.jpg);
  }
  
  #aatrox {
    background-image: url(img/aatrox.jpg);
  }
  
  #cait {
    background-image: url(img/cait.JPG);
  }
  
  #katarina {
    background-image: url(img/katarina.jpg);
  }
  
  #riven {
    background-image: url(img/riven.jpg);
    
  }
  




.cards :hover {

    transform: scale(1.1); 

}

@media (max-width: 768px) {
  .team-stats {
    flex-direction: column;
  }
}
